<div id="<%= dom_id public_recipe %>">
  <p>
    <strong>Name:</strong>
    <%= public_recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= public_recipe.preparation_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= public_recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= public_recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= public_recipe.public %>
  </p>

</div>
