<h1>Public Recipes</h1>

<%= render partial: 'public_recipes_form' %>

<h1>List of Public Recipes</h1>

<main>
    <h1>Public Recipes</h1>
    <% if @recipes.blank? %>
    <p>There are not any public recipes at the moment</p>
    <% else %>
    <ul>
    <% @recipes.each do |recipe| %>
      <%= link_to user_recipe_path(@user, recipe), class: "link" do %>
        <li class="public_list_item">
            <div class="item">
              <h3><%= recipe.name %></h3>
              <h4>By: <%= recipe.user.name %></h4>
            </div>
            <div class="item">
                <p>total food items: <%= @user.foods.count %></p>
                <p>total price: $<%= @user.foods.sum { |food| food.price * food.quantity } %></p>
            </div>
        </li>
      <%end%>
    <% end %>
    </ul>
    <% end %>
</main>

