<p style="color: green"><%= notice %></p>

<div class='recipes'>
  <% @recipes.each do |recipe| %>
    <div class='recipe'>   
        <div class='recipe-cont1'>
          <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
          <h2><%= button_to 'REMOVE', recipe, method: :delete, data: { confirm: 'Are you sure you want to delete?'}%></h2>
        </div>
          <p class='recipe-cont2'><%= recipe.description %></p>      
    </div> 
  <% end %>
  <%= link_to "Add New Recipe", new_recipe_path %>
</div>
