<p style="color: green"><%= notice %></p>


<div class='recipe-show'>
  <%= link_to 'Back to Recipes', recipes_path %>
  <h2 class='recipe-header'><%= @recipe.name %></h2>

  

  

  <div>
    <p><b>Preparation Time: </b><%= @recipe.preparation_time %></p>
    <p><b>Cooking Time: </b><%= @recipe.cooking_time %></p>
    <p><b>Description: </b><%= @recipe.description %></p>
</div>

  <div class='recipeshow-btn'>
    <span><%= button_to "Generate Shopping list", new_recipe_path %></span>
    <span><%= button_to "Add New Recipe", new_recipe_path %></span>
  </div>
  <hr>

  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Back to recipes", recipes_path %>
  <%= button_to "Destroy this Recipe", @recipe, method: :delete %>
</div>
