<div id="<%= dom_id food %>">

  <p>
    
    <%= food.name %>
  </p>

  <p>
    
    <%= food.measurement_unit %>
  </p>

  <p>
  
    <%= food.price %>
  </p>

  <p>

    <%= food.quantity %>
  </p>

  <p>
    <%= food.user_id %>
  </p>

</div>
